:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color: #f2f3f3;
}

#root{
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-color);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.page {
  width: 10in;
  margin: 20px auto;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
  page-break-after: always;
}




.container .ql-editor {
color: black;
background-color: white;
width: 8.5in;
height: 1122px;
  max-height: 1122px;
  overflow: hidden;

padding: 0.5in;
margin: 1rem;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.container .ql-container.ql-snow {
border: none;
display: flex;
justify-content: center;
}

.container .ql-toolbar.ql-snow {
display: flex;
justify-content: center;
position: sticky;
top: 0;
z-index: 99;
background-color: var(--main-color);
border: none;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.ql-formats{
  margin-right: 10px !important;
  width: fit-content !important;
 font-weight: bold;
}
.ql-addPage{
  width: fit-content !important;
  color: black;
  font-weight: bold;
}

/* targeting print media and removing all the styles */
@media print {
body {
  background: none;
}

.container .ql-editor {
  width: 6.5in;
  height: 9in;
  padding: 0;
  margin: 1in;
  box-shadow: none;
  align-self: flex-start;
}

/* preventing toolbar from getting printed */
.container .ql-toolbar.ql-snow {
  display: none;
}
.page-break {
  page-break-after: always;
}
}